/* ============================================================================
 * Onyx 8 - Rofi Configuration
 * ============================================================================ */

configuration {
    modi: "drun,run,window,ssh";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "alacritty";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;
}

@theme "onyx8"
